*.Rproj.user/*
.Rproj.user/*
*.Rproj.user/
.Rproj.user/**
*.Rhistory
*.RData
*.Ruserdata
*.gz
*.bbl
*.log
*-concordance.tex
*.toc
*.aux
.Rproj.user
.rstudio
venv/
__pycache__
.env
.idea
datapackages/**/*.*
!datapackages/**/datapackage.json
*t2d
pdf/diff/*
.vscode/
